@model NanolekPrototype.EntityModels.Models.FormMaterialBalanceOfGPByLot

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FormMaterialBalanceOfGPByLot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateOfPacking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateOfPacking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDateOfPacking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishDateOfPacking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftMaster.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftMasterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftMasterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcedByUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcedByUserDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcedByUserDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedByUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedByUserDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedByUserDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedPUByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedPUByUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedPUByUserDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedPUByUserDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitAccordingToTheRegulations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitAccordingToTheRegulations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompliant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompliant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMaster.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
