@model NanolekPrototype.EntityModels.Models.FormMaterialBalanceOfGPByLot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormMaterialBalanceOfGPByLot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateOfPacking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateOfPacking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDateOfPacking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishDateOfPacking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftMaster.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftMasterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftMasterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcedByUser.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcedByUserDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcedByUserDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedByUser.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedByUserDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedByUserDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedPUByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedPUByUser.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedPUByUserDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedPUByUserDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitAccordingToTheRegulations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitAccordingToTheRegulations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompliant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompliant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMaster.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="LoadFromSeaVision" asp-route-id="@Model.Id">Загрузить из Sea Vision</a> |
    <a asp-controller="PackagingProtocols" asp-action="Details" asp-route-id="@Model.PackagingProtocol.Id">Назад</a>
</div>
