@using NanolekPrototype.EntityModels.Enums
@model NanolekPrototype.EntityModels.Models.FormMaterialBalanceOfGPByLot

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FormMaterialBalanceOfGPByLot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                 @Html.DisplayNameFor(model=>model.StartDateOfPacking)
                 @Html.DisplayFor(model=>model.StartDateOfPacking)
                <span asp-validation-for="StartDateOfPacking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDateOfPacking" class="control-label"></label>
                @Model.FinishDateOfPacking
                <span asp-validation-for="FinishDateOfPacking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShiftMaster" class="control-label"></label>
                <select asp-for="ShiftMasterId" class="form-control" asp-items="ViewBag.ShiftMasterId"></select>
                <span asp-validation-for="ShiftMasterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShiftMasterDate" class="control-label"></label>
                <input asp-for="ShiftMasterDate" class="form-control" />
                <span asp-validation-for="ShiftMasterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalcedByUser" class="control-label"></label>
                <select asp-for="CalcedByUserId" class="form-control" asp-items="ViewBag.CalcedByUserId"></select>
                <span asp-validation-for="CalcedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalcedByUserDate" class="control-label"></label>
                <input asp-for="CalcedByUserDate" class="form-control" />
                <span asp-validation-for="CalcedByUserDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedByUser" class="control-label"></label>
                <select asp-for="CheckedByUserId" class="form-control" asp-items="ViewBag.CheckedByUserId"></select>
                <span asp-validation-for="CheckedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedByUserDate" class="control-label"></label>
                <input asp-for="CheckedByUserDate" class="form-control" />
                <span asp-validation-for="CheckedByUserDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedPUByUser" class="control-label"></label>
                <select asp-for="CheckedPUByUserId" class="form-control" asp-items="ViewBag.CheckedPUByUserId"></select>
                <span asp-validation-for="CheckedPUByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedPUByUserDate" class="control-label"></label>
                <input asp-for="CheckedPUByUserDate" class="form-control" />
                <span asp-validation-for="CheckedPUByUserDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackagesCount" class="control-label"></label>
                @Model.PackagesCount
                <span asp-validation-for="PackagesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExitAccordingToTheRegulations" class="control-label"></label>
                <select asp-for="ExitAccordingToTheRegulations" asp-items="Html.GetEnumSelectList<ExitAccordingToTheRegulations>()" class="form-control"></select>
                <span asp-validation-for="ExitAccordingToTheRegulations" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompliant" /> @Html.DisplayNameFor(model => model.IsCompliant)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskMaster" class="control-label"></label>
                <select asp-for="TaskMasterId" class="form-control" asp-items="ViewBag.TaskMasterId"></select>
                <span asp-validation-for="TaskMasterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsActive">
            <input type="hidden" asp-for="Guid">
            <input type="hidden" asp-for="Status">
            <input type="hidden" asp-for="Note">
            <input type="hidden" asp-for="StartDateOfPacking">
            <input type="hidden" asp-for="FinishDateOfPacking">
            <input type="hidden" asp-for="PackagesCount">
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="FormMaterialBalanceOfGPByLots" asp-action="Details" asp-route-id="@Model.Id">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
