@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PackagingProtocols</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PackagingProtocols</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PackagingProtocols" asp-action="Index">Протоколы упаковки</a>
                            </li>
                        }

                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    @if (User.Identity.IsAuthenticated)
    {
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <partial name="_SidebarLoginPartial" />
                </div>

                <ul class="components">
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="PackagingProtocols" asp-action="Index">Протоколы упаковки</a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
                    </li>
                    <li>
                        <form  class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button  type="submit" class="nav-link btn btn-link text-white">Выход</button>
                        </form>
                    </li>
                </ul>
            </nav>

            <div id="content" class="pl-2">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    }
    else
    { 
        <div id="content" class="pl-2 container">
          <main role="main">
              @RenderBody()
          </main>
      </div>

    }
    <!--Container-->



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PackagingProtocols
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/AjaxController.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/ToolTipOpen.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/ModalWindow.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/SideBar.js" type="text/javascript" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
