@using NanolekPrototype.EntityModels.Enums
@model NanolekPrototype.EntityModels.Models.PackagingProtocol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Протокол упаковки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageConditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageConditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfLife)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShelfLife)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SellBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SellBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationGP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecificationGP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternalCodeGP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternalCodeGP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackagingProtocolStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackagingProtocolStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CancellationReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CancellationReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleUserOOK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleUserOOK.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleUserTLF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleUserTLF.FullName)
        </dd>
    </dl>
</div>

</br>

<label class="font-weight-bold">Персонал, задействованный в производстве</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductionPersonnels.First().FullName.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionPersonnels.First().FullName.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionPersonnels.First().Step)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionPersonnels.First().Role)
            </th>
            <th>
                <a asp-controller="TableProductionPersonnels" asp-action="Create" asp-route-protocolid="@Model.Id">Добавить</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductionPersonnels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Step)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>

                <td>
                    <a asp-controller="TableProductionPersonnels" asp-action="Edit" asp-route-id="@item.Id" asp-route-protocolid="@Model.Id">Редактировать</a> |
                    <a asp-controller="TableProductionPersonnels" asp-action="Delete" asp-route-id="@item.Id" asp-route-protocolid="@Model.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<label class="font-weight-bold">Протоколы допуска персонала к работе</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelAccessProtocols.First().ProtocolNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelAccessProtocols.First().ProtocolDate)
            </th>
            <th>
                <a asp-controller="TablePersonnelAccessProtocols" asp-action="Create" asp-route-protocolid="@Model.Id">Добавить</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonnelAccessProtocols)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProtocolNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProtocolDate)
                </td>
                <td>
                    <a asp-controller="TablePersonnelAccessProtocols" asp-action="Edit" asp-route-id="@item.Id" asp-route-protocolid="@Model.Id">Редактировать</a> |
                    <a asp-controller="TablePersonnelAccessProtocols" asp-action="Delete" asp-route-id="@item.Id" asp-route-protocolid="@Model.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>
            Формы протокола упаковки
        </th>
        <th>
            Статус
        </th>
        <th>
            Действия
        </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.FormReceptionAndMovementOfBulkProducts)
    {
        <tr>
            <td>
                <a asp-controller="FormReceptionAndMovementOfBulkProducts" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Type)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (User.IsInRole("controller") && Model.FormReceptionAndMovementOfBulkProducts.First().Status==FormStatus.OnControl)
                {
                    <a asp-controller="FormReceptionAndMovementOfBulkProducts" asp-action="ApproveForm" asp-route-id="@item.Id">Утвердить</a>
                    <a asp-controller="FormReceptionAndMovementOfBulkProducts" asp-action="SendOnRevisionForm" asp-route-id="@item.Id">На доработку</a>
                }
                @if (User.IsInRole("executor") && Model.FormReceptionAndMovementOfBulkProducts.First().Status == FormStatus.InWork)
                {
                    <a asp-controller = "FormReceptionAndMovementOfBulkProducts" asp-action="SendOnControlForm" asp-route-id="@item.Id">На проверку</a>
                }
            </td>
        </tr>
    }
    </tbody>
    
    <tbody>
        @foreach (var item in Model.FormReceptionAndMovementOfPackingMaterials)
        {
            <tr>
                <td>
                    <a asp-controller="FormReceptionAndMovementOfPackingMaterials" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Type)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (User.IsInRole("controller") && Model.FormReceptionAndMovementOfPackingMaterials.First().Status == FormStatus.OnControl)
                    {
                        <a asp-controller="FormReceptionAndMovementOfPackingMaterials" asp-action="ApproveForm" asp-route-id="@item.Id">Утвердить</a>
                        <a asp-controller="FormReceptionAndMovementOfPackingMaterials" asp-action="SendOnRevisionForm" asp-route-id="@item.Id">На доработку</a>
                    }
                    @if (User.IsInRole("executor") && Model.FormReceptionAndMovementOfBulkProducts.First().Status == FormStatus.InWork)
                    {
                        <a asp-controller="FormReceptionAndMovementOfPackingMaterials" asp-action="SendOnControlForm" asp-route-id="@item.Id">На проверку</a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>