@model IEnumerable<NanolekPrototype.EntityModels.Models.PackagingProtocol>

@{
    ViewData["Title"] = "Index";
}

<h1>Протоколы упаковки</h1>

<p>
    <a asp-action="Create">Загрузить протокол из SAP</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecificationGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalCodeGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackagingProtocolStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.SerialNumber</a><br>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShelfLife)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecificationGP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternalCodeGP)
                </td>
                <td>
                    <div class="statusTooltip" data-toggle="tooltip" title="@item.CancellationReason">
                        @Html.DisplayFor(modelItem => item.PackagingProtocolStatus)
                        </div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a><br>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a><br>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a><br>
                    <a asp-action="CancelProtocol" asp-route-id="@item.Id">Отменить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

