@using NanolekPrototype.EntityModels.Enums
@model IEnumerable<NanolekPrototype.EntityModels.Models.PackagingProtocol>

@{
    ViewData["Title"] = "Index";
}

<div class="main-header">
    <h1>Протоколы упаковки</h1>
    <div>
        <a asp-action="Create" style="font-size: 24px; color: #9FA2B4; "><img src="/GetSAPx1.png" class="img-fluid" alt="Responsive image" style="padding-right: 10px">Загрузить протокол из SAP</a>
    </div>
</div>

<div class="main-table">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecificationGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalCodeGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackagingProtocolStatus)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.SerialNumber</a><br>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShelfLife)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecificationGP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternalCodeGP)
                </td>
                <td>
                    <div class="statusTooltip" data-toggle="tooltip" title="@item.CancellationReason">
                        @Html.DisplayFor(modelItem => item.PackagingProtocolStatus)
                        </div>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a><br>
                    @if (@item.PackagingProtocolStatus == PackagingProtocolStatus.InWork)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        <br>
                        <a asp-action="CancelProtocol" asp-route-id="@item.Id">Отменить</a>
                    }
                    @if (@item.PackagingProtocolStatus == PackagingProtocolStatus.Completed)
                    {
                        <a asp-action="ToXml" asp-route-id="@item.Id">Выгрузить XML</a>
                        <br>
                    }
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a><br>
                    </td>
            </tr>
        }
    </tbody>
</table>
</div>