@model NanolekPrototype.EntityModels.Models.TablePackagingControl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TablePackagingControl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormControlOfPrimaryPackaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormControlOfPrimaryPackaging.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFoilCorrespondenceToSpecification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFoilCorrespondenceToSpecification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAppereanceWithoutDefects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAppereanceWithoutDefects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClarityMarkAndCorrugationPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClarityMarkAndCorrugationPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMatchingVariableData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMatchingVariableData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBulkProductWithoutVisibleDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBulkProductWithoutVisibleDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCorrespondsCountOfTabletsInBlister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCorrespondsCountOfTabletsInBlister)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualTemperatureOfCellFormingMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualTemperatureOfCellFormingMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualTemperatureOfCellFormingMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualTemperatureOfCellFormingMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualTemperatureOfBlisterAdhesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualTemperatureOfBlisterAdhesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlisteringSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlisteringSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMaster.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
