@model NanolekPrototype.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Вход в приложение";
}
<div class="row align-items-center" id="loginForm">
<div class="col-sm-12 d-flex justify-content-center">
    <div id="loginInputs">

        <div class="d-flex">
            <button type="button" class="btn btn-primary" id="keyButton">
                <i class="bi bi-key-fill"></i>
            </button>
            <div id="loginTitle">
                @ViewData["Title"]
            </div>
        </div>

        <section>
            <form id="account" method="post">
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control" placeholder="yourmail@gmail.com"/>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input asp-for="@Model.Password" class="form-control"/>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="@Model.RememberMe">
                            <input asp-for="@Model.RememberMe"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button id="loginButton" type="submit" class="btn btn-primary">АВТОРИЗОВАТЬСЯ</button>
                </div>
            </form>
        </section>
    </div>
        <img src="/AkelonGxp.png" class="img-fluid" id="loginPicture" alt="Responsive image">
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
