@model NanolekPrototype.EntityModels.Models.TableSampleSelection

@{
    ViewData["Title"] = "Delete";
}

<div class="header-and-back-button">
    <h1>Вы уверены, что хотите удалить это?</h1>
    <a class="btn nav-back-button" asp-controller="FormSamplingFinishedProducts" asp-action="Details" asp-route-id="@Model.FormSamplingFinishedProductId">Вернуться назад</a>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountOfSampleSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountOfSampleSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeOKK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeOKK.FullName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
