@using NanolekPrototype.EntityModels.Enums
@model NanolekPrototype.EntityModels.Models.TableProductionPersonnel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TableProductionPersonnel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="PackagingProtocolId" value="@ViewData["PackagingProtocolId"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                @Html.DropDownList("FullNameId", ViewBag.FullNames, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Step" class="control-label"></label>
                <select asp-for="@Model.Step" asp-items="Html.GetEnumSelectList<ProductionPersonnelStep>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="@Model.Role" asp-items="Html.GetEnumSelectList<ProductionPersonnelRole>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="PackagingProtocols" asp-action="Details" asp-route-id="@ViewData["PackagingProtocolId"]">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
