@using NanolekPrototype.EntityModels.Enums
@model NanolekPrototype.EntityModels.Models.FormReceptionAndMovementOfBulkProduct

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Type)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternalCodeOfMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternalCodeOfMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalcedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalcedByUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalcedByUserDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalcedByUserDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckedByUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedByUserDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckedByUserDate)
        </dd>
    </dl>
    <h5>Приём балк-продукта (таблеток нерасфасованных)</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetPRP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetPRP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartSAP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartSAP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCorrespondToControlIndicators)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCorrespondToControlIndicators)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCorrespondToShelfLife)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCorrespondToShelfLife)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftMaster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftMaster.FullName)
        </dd>
    </dl>
    <h5>Баланс по окончании серии</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntredIntoGPPackages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntredIntoGPPackages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntredIntoGPUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntredIntoGPUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GarbageUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GarbageUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefectFirstPackageUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefectFirstPackageUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SampleSelectionUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SampleSelectionUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GarbageSecondPackageUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GarbageSecondPackageUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>

<br>

<label class="font-weight-bold">Движение балк-продукта (таблеток нерасфасованных)</label>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovementOfBulkProducts.First().Executor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovementOfBulkProducts.First().GarbageKg)
        </th>
        <th>
        @if (Model.PackagingProtocol.PackagingProtocolStatus == PackagingProtocolStatus.InWork)
        {
            <a asp-controller="TableMovementOfBulkProducts" asp-action="Create" asp-route-formid="@Model.Id">Добавить</a>
        }
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.MovementOfBulkProducts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Executor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarbageKg)
            </td>
            <td>
            @if (Model.PackagingProtocol.PackagingProtocolStatus == PackagingProtocolStatus.InWork)
            {
                <a asp-controller="TableMovementOfBulkProducts" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> 
                <a asp-controller="TableMovementOfBulkProducts" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
@if (Model.PackagingProtocol.PackagingProtocolStatus == PackagingProtocolStatus.InWork)
{
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
}
    <a asp-controller="PackagingProtocols" asp-action="Details" asp-route-id="@Model.PackagingProtocol.Id">Назад</a>
</div>
