@model IEnumerable<NanolekPrototype.EntityModels.Models.FormReceptionAndMovementOfBulkProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalCodeOfMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalcedByUserDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedByUserDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetPRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartSAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrespondToControlIndicators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrespondToShelfLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntredIntoGPPackages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntredIntoGPUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarbageUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefectFirstPackageUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleSelectionUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarbageSecondPackageUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalCodeOfMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalcedByUserDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedByUserDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetPRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartSAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrespondToControlIndicators)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrespondToShelfLife)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntredIntoGPPackages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntredIntoGPUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarbageUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefectFirstPackageUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleSelectionUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarbageSecondPackageUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
