@model IEnumerable<PackagingProtocol>;
<h2>Список протоколов упаковки</h2>

<a asp-action="Create">Добавить протокол упаковки</a>

<table class="table">
    <tr><th>Торговое наименование</th><th>Серия номер</th><th>Срок годности (дн.)</th><th>Статус</th><th></th></tr>
    @foreach (var packingProtocol in @Model)
    {
        <tr>
            <td>@packingProtocol.TradeName</td>
            <td>@packingProtocol.SerialNumber</td>
            <td>@packingProtocol.ShelfLife</td>
            <td>@packingProtocol.PackagingProtocolStatus</td>
            <td>
                @*<form asp-action="Delete" asp-route-id="@user.Id" method="post">*@
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@packingProtocol.Id">Изменить</a>
                @*<button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>*@
            </td>
        </tr>
    }
</table>