@using NanolekPrototype.EntityModels.Enums
@model NanolekPrototype.EntityModels.Models.FormAssignmentForMarkingThermalTransferLabelOnCorrugatedBox

@{
    ViewData["Title"] = "Details";
}

<div class="header-and-back-button">
    <h1>@Html.DisplayFor(model => model.Type)</h1>
    <a class="btn nav-back-button" asp-controller="PackagingProtocols" asp-action="Details" asp-route-id="@Model.PackagingProtocol.Id">Вернуться назад</a>
</div>

<label class="font-weight-bold table-label">Информация о форме протокола</label>
<div class="main-table">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GTIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfManufacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacksInCorrugatedBox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskGiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskGivenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskGot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskGotDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.GTIN)
            </td>
            <td>
                @Html.DisplayFor(model => model.Series)
            </td>
            <td>
                @Html.DisplayFor(model => model.DateOfManufacture)
            </td>
            <td>
                @Html.DisplayFor(model => model.SellBy)
            </td>
            <td>
                @Html.DisplayFor(model => model.PacksInCorrugatedBox)
            </td>
            <td>
                @Html.DisplayFor(model => model.InternalCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.TaskGiven.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.TaskGivenDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.TaskGot.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.TaskGotDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model.Note)
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="edit-btn-div">
    @if (Model.PackagingProtocol.PackagingProtocolStatus == PackagingProtocolStatus.InWork)
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    }
</div>
