@model IEnumerable<NanolekPrototype.EntityModels.Models.TableReceptionOfMaterial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormReceptionAndMovementOfPackingMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedFoil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAPPart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalyticalSheetNumberOKK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFoilMeetsControlParameters)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormReceptionAndMovementOfPackingMaterial.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedFoil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAPPart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerSerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalyticalSheetNumberOKK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFoilMeetsControlParameters)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
